@model SB.Models.PostsListViewModel
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @ViewData["userName"]</h2>
<hr />
<div class="container-fluid">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("PostListItemPartial", post);
    }
</div>