@using SB.Helpers
@model SB.Models.PostsListViewModel
@{
    ViewBag.Title = "Home Page";
}
<section ng-cloak>
    <md-list flex>
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("PostListItemPartial", post)
        }
    </md-list>
    @*Paging*@
    @if (Model.PagesCount > 1)
    {
        <section layout="row" layout-align="center center">
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                <md-button href='@Url.RouteUrl("PublicList",new {page=i})' class='md-fab @(i == Model.Page ? "md-primary" : "")'>@i</md-button>
            }
        </section>
    }
    @*End Paging*@
</section>


